<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2016 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - ADI-1988B</string>
					<key>CodecID</key>
					<integer>299112843</integer>
					<key>ConfigData</key>
					<data>ARccEAEXHUABFx4hARcfAQEnHCABJx1AASceAQEnHwEBRxxAAUcdkAFHHqEBRx8BAVccUAFXHTABVx6BAVcfAQF3HHABdx2QAXceoQF3HwEBtxzwAbcd8QG3HkUBtx8B</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Mirone - ADI-1988B</string>
					<key>CodecID</key>
					<integer>299112843</integer>
					<key>ConfigData</key>
					<data>ARccEAEXHUABFx4hARcfAQEnHCABJx1AASceEQEnHwEBRxwwAUcdkAFHHqABRx+QAWccQAFnHRABZx4BAWcfAQF3HFABdx2QAXcegQF3HwEBtxxgAbcd8QG3HkUBtx8BAccccAHHHfEBxx7FAccfAQHXHIAB1x3xAdceVgHXHxgCRxyQAkcdYAJHHgECRx8BAlcckAJXHSACVx4BAlcfAQ==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>0x11d4198b</string>
					<key>CodecID</key>
					<integer>299112843</integer>
					<key>Comment</key>
					<string>Custom AD1988B by Rodion</string>
					<key>ConfigData</key>
					<data>
					AXccIAF3HZABdx6gAXcfkQFHHCEBRx2QAUce
					gQFHHwIBJxwQAScdQAEnHhEBJx8BAkccEQJH
					HWACRx4RAkcfAQFnHBIBZx0QAWceEQFnHwEC
					VxwUAlcdIAJXHhECVx8BAccc8AHHHQABxx4A
					AccfQAE3HPABNx0AATceAAE3H0ABpxzwAacd
					AAGnHgABpx9AAYcc8AGHHQABhx4AAYcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - ADI-2000B</string>
					<key>CodecID</key>
					<integer>299145371</integer>
					<key>ConfigData</key>
					<data>ARccEAEXHUABFx4hARcfAQEnHCABJx1AASceAQEnHwEBRxxAAUcdkAFHHqEBRx8BAVccUAFXHTABVx6BAVcfAQF3HHABdx2QAXceoQF3HwEBtxzwAbcd8QG3HkUBtx8B</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Mirone - ADI-2000B</string>
					<key>CodecID</key>
					<integer>299145371</integer>
					<key>ConfigData</key>
					<data>ARccMAEXHUABFx4hARcfAQEnHBABJx1AASceEQEnHwEBRxxAAUcdkAFHHqABRx+QAWccUAFnHRABZx4BAWcfAQF3HCABdx2QAXcegQF3HwEBtxygAbcd8QG3HkUBtx8BAcccYAHHHfEBxx7FAccfAQHXHLAB1x3xAdceVgHXHxgCRxxwAkcdYAJHHgECRx8BAlccgAJXHSACVx4BAlcfAQ==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Miron Laptop patch ALC269 Asus N53J</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AYccIAGHHRABhx6BAYcfBAGXHBABlx0BAZce
					oAGXH5kBtxxAAbcdAQG3HhMBtx+ZAhccUAIX
					HRACFx4hAhcfBAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VB v1</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccQAFHHQEBRx4TAUcfmQGHHCABhx0QAYce
					gQGHHwMBlxwQAZcdAQGXHqABlx+ZAhccUAIX
					HRACFx4hAhcfAwFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>Mirone - Realtek ALC269 for Asus K53SJ, Asus G73s</string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHBABRx0BAUce
					EwFHH5ABdxxQAXcdAQF3HhMBdx+QAYccIAGH
					HZABhx6BAYcfAwGXHDABlx0BAZceoAGXH5AB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccQAIXHRACFx4hAhcfAwFH
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VB v2</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQABRx4TAUcfkAGHHCABhx2QAYce
					gQGHHwIBtxwwAbcdEAG3HqABtx+QAhccQAIX
					HRACFx4hAhcfAgFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VB v3</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					EwFHH5ABhxwwAYcdEAGHHoEBhx8AAhccUAIX
					HRACFx4hAhcfAAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VC v1</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQABRx4TAUcfkAGHHDABhx0QAYce
					gQGHHwABJxxAAScdAAEnHqABJx+QAVccUAFX
					HRABVx4hAVcfAAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VC v2</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFXHCABVx0QAVce
					IQFXHwABhxwwAYcdEAGHHoEBhx8CAbccQAG3
					HQABtx4XAbcfkAG3DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269VC-v3</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFHHCABRx0AAUce
					FwFHH5ABVxwwAVcdEAFXHiEBVx8AAYccQAGH
					HZABhx6BAYcfAgFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>Custom ALC269 for Acer Aspire by Andrey1970</string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHBABRx0BAUce
					FwFHH5ABRwwCAXcc8AF3HQABdx4AAXcfQAGH
					HPABhx0AAYceAAGHH0ABlxzwAZcdAAGXHgAB
					lx9AAacc8AGnHQABpx4AAacfQAG3HCABtx0B
					AbceoAG3H5AB1xzwAdcdAAHXHgAB1x9AAecc
					8AHnHQAB5x4AAecfQAIXHDACFx0QAhceIQIX
					HwMBhxwgAYcdkAGHHoEBhx8D
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>27</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269VC</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>ALC269VC for Lenovo Z580, John</string>
					<key>ConfigData</key>
					<data>
					AVccQAFXHRABVx4hAVcfAwGHHCABhx0QAYce
					gQGHHwMBlxwwAZcdAQGXHqABlx+QAbccEAG3
					HQEBtx4XAbcfkAFXDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>ALC269VC for Lenovo V580, ar4er</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFHHCABRx0AAUce
					FwFHH5ABVxwwAVcdEAFXHiEBVx8AAYccQAGH
					HZABhx6BAYcfAgFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>29</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC270 v1</string>
					<key>CodecID</key>
					<integer>283902576</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQABRx4TAUcfkAGXHCABlx0AAZce
					oAGXH5ACFxwwAhcdEAIXHiECFx8AAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC270 v2</string>
					<key>CodecID</key>
					<integer>283902576</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					EwFHH5ACFxwwAhcdEAIXHiECFx8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC270</string>
					<key>CodecID</key>
					<integer>283902576</integer>
					<key>Comment</key>
					<string>ALC270 for Asus Laptop with alternative microphone</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6mAScfkAFHHCABRx0BAUce
					EwFHH5ABdxzwAXcdAAF3HgABdx9AAYccMAGH
					HRABhx6BAYcfAgGXHPABlx0AAZceAAGXH0AB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccQAIXHRACFx4hAhcfAgFH
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>27</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC270</string>
					<key>CodecID</key>
					<integer>283902576</integer>
					<key>Comment</key>
					<string>ALC270 for Asus Laptop</string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHBABRx0BAUce
					FwFHH5ABdxzwAXcdAAF3HgABdx9AAYccIAGH
					HRABhx6BAYcfBAGXHDABlx0BAZceoAGXH5AB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccIAIXHRACFx4hAhcfBAFH
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC282_v1</string>
					<key>CodecID</key>
					<integer>283902594</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfmQFHHCABRx0AAUce
					EwGXHDABlx0QAZceiwGXHwABRx+ZAhccUAIX
					HRACFx4rAhcfAQFHDAICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC282_v2</string>
					<key>CodecID</key>
					<integer>283902594</integer>
					<key>ConfigData</key>
					<data>
					ASccQAEnHQABJx6gAScfkAFHHBABRx0AAUce
					FwFHH5ABhxwwAYcdEAGHHoEBhx8AAeccIAHn
					HRAB5x5EAecfAAIXHFACFx0QAhceIQIXHwAB
					RwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283902594</integer>
					<key>Comment</key>
					<string>Custom ALC282 for Asus x200la</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6BAScfAAFHHCABRx0BAUce
					EAFHH5kBdxzwAXcdAAF3HgABdx9AAYcc8AGH
					HQABhx4AAYcfQAGXHDABlx0BAZcepgGXH5kB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccUAIXHUACFx4rAhcfAAFH
					DAICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>86</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC662</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAGHHCABhx2QAYce
					oAGHH5AB5xwwAecdYQHnHksB5x8BAaccQAGn
					HTABpx6BAacfAQG3HFABtx1AAbceIQG3HwEB
					lxxgAZcdkAGXHoEBlx8C
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC662</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3
					HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6B
					AacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecd
					YAHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak - Realtek ALC662 </string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASFXHCAhVx0QIVce
					ASFXHwEhZxwwIWcdYCFnHgEhZx8BIXccQCF3
					HSAhdx4BIXcfASGHHFAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIacccCGnHTAhpx6B
					IacfASG3HIAhtx1AIbceISG3HwIh5xyQIecd
					YCHnHkUh5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak - Realtek ALC662 </string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCGHHCAhhx2QIYce
					oCGHH5Ah5xwwIecdYSHnHksh5x8BIaccQCGn
					HTAhpx6BIacfASG3HFAhtx1AIbceISG3HwEh
					lxxgIZcdkCGXHoEhlx8C
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak - Realtek ALC662 v2</string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAGHHCABhx2QAYce
					oAGHH5AB5xwwAecdYQHnHksB5x8BAaccQAGn
					HTABpx6BAacfAQG3HFABtx1AAbceIQG3HwEB
					lxxgAZcdkAGXHoEBlx8C
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak - Realtek ALC662 </string>
					<key>CodecID</key>
					<integer>283903586</integer>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASGHHCAhhx2QIYce
					oCGHH5AhlxxgIZcdkCGXHqEhlx8CIaccQCGn
					HTAhpx6BIacfASG3HFAhtx1AIbceISG3HwIh
					5xwwIecdYSHnHksh5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC663</string>
					<key>CodecID</key>
					<integer>283903587</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					EwFHH5ACFxwwAhcdEAIXHiECFx8CAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC663_V2</string>
					<key>CodecID</key>
					<integer>283903587</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQABRx4TAUcfkAGHHCABhx0QAYce
					gQGHHwIBlxwwAZcdAAGXHqABlx+QAdccQAHX
					HYAB1x4FAdcfQAHnHFAB5x0QAeceRQHnHwAC
					FxxgAhcdEAIXHiECFx8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC663</string>
					<key>CodecID</key>
					<integer>283903587</integer>
					<key>Comment</key>
					<string>Custom ALC663 for Asus N56/76 by m-dudarev</string>
					<key>ConfigData</key>
					<data>
					AZccEAGXHQABlx6gAZcfkAGHHCABhx0QAYce
					gQGHHwIBRxwwAUcdAAFHHhABRx+QAUcMAgIX
					HEACFx0QAhceIQIXHwIBFxzwARcdAAEXHgAB
					Fx9AAecc8AHnHQAB5x4AAecfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283903592</integer>
					<key>Comment</key>
					<string>ALC668 Mirone Laptop Patch</string>
					<key>ConfigData</key>
					<data>
					ABJxwQAScdAAEnHqABJx+QAUccIAFHHQABRx
					4XAUcfkAFXHDABVx0QAVceIQFXHwEBZxxAAW
					cdAAFnHgABZx9AAbccUAG3HRABtx6BAbcfAg
					HXHGAB1x0AAdcewAHXH0ABRwwA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC882</string>
					<key>CodecID</key>
					<integer>283904130</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHFABhx2QAYce
					oAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGn
					HTABpx6BAacfAQG3HIABtx1AAbceIQG3HwEB
					5xyQAecd4AHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC882</string>
					<key>CodecID</key>
					<integer>283904130</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3
					HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6B
					AacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecd
					YAHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC883</string>
					<key>CodecID</key>
					<integer>283904131</integer>
					<key>Comment</key>
					<string>Mirone - Realtek ALC883 by Andrey1970</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3
					HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6B
					AacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecd
					YAHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak - Realtek ALC883</string>
					<key>CodecID</key>
					<integer>283904131</integer>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASFXHCAhVx0QIVce
					ASFXHwEhZxwwIWcdYCFnHgEhZx8BIXccQCF3
					HSAhdx4BIXcfASGHHFAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIacccCGnHTAhpx6B
					IacfASG3HIAhtx1AIbceISG3HwIh5xyQIecd
					YCHnHkUh5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak - Realtek ALC883</string>
					<key>CodecID</key>
					<integer>283904131</integer>
					<key>ConfigData</key>
					<data>
					AUccQAFHHUEBRx4QAUcfkAFXHFABVx0QAVce
					CwFXHwEBZxxgAWcdYAFnHgsBZx8BAXcc8AF3
					HQABdx4AAXcfQAGHHBABhx2RAYceoAGHH5AB
					lxzwAZcdAAGXHgABlx9AAaccIAGnHTEBpx6L
					AacfAQG3HIABtx1AAbceKwG3HwEBxxzwAccd
					AAHHHgABxx9AAdcc8AHXHQAB1x4AAdcfQAHn
					HJAB5x0RAeceRAHnHwEB9xzwAfcdAAH3HgAB
					9x9A
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC885</string>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>Comment</key>
					<string>Custom ALC885 by alex1960</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASFXHCAhVx0QIVce
					ASFXHwEhZxwwIWcdYCFnHgEhZx8BIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfccoCH3HQEh9x7LIfcfASEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHFABhx2QAYce
					oAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGn
					HTABpx6BAacfAQG3HIABtx1AAbceIQG3HwIB
					5xyQAecdYAHnHkUB5x8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3
					HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6B
					AacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecd
					YAHnHkUB5x8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak  - Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak  5/6 ports (Gray, Black, Orange, Pink, Green, Blue)</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASG3HCAhtx1AIbce
					ISG3HwIhpxwwIacdMCGnHoEhpx8BIYccUCGH
					HZAhhx6hIYcfkCGXHGAhlx2QIZcegSGXHwIh
					5xyQIecdYCHnHkUh5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak  - Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak  5/6 ports ( Orange, Pink, Green, Blue) </string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHPAhVx0AIVce
					ACFXH0AhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx1gIYceASGHHwEh
					lxxgIZcdkCGXHqAhlx+QIaccUCGnHRAhpx4B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak  - Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak  6/7 ports (Gray, Black, Orange, Pink, Green, Blue)</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak  - Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak  5/6 ports ( Green,Pink, Blue,Orange)</string>
					<key>ConfigData</key>
					<data>
					ARcc8AEXHQABFx4AARcfQAEnHPABJx0AASce
					AAEnH0ABRxxAAUcdQAFHHhEBRx8BAVcc8AFX
					HQABVx4AAVcfQAFnHPABZx0AAWceAAFnH0AB
					dxzwAXcdAAF3HgABdx9AAYccEAGHHZABhx6g
					AYcfkAGXHPABlx0AAZceAAGXH0ABpxwgAacd
					MAGnHoEBpx8CAbccUAG3HUABtx4hAbcfAgHn
					HHAB5x1hAeceRQHnHwIB9xzwAfcdAAH3HgAB
					9x9A
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak  - Realtek ALC887-VD</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>Comment</key>
					<string>InsanelyDeepak  5/6 ports ( Green,Pink, Blue,Orange)</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHFABhx2QAYce
					oAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGn
					HTABpx6BAacfAQG3HIABtx1AAbceIQG3HwIB
					5xyQAecdYAHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Custom Realtek ALC887-VD by Constanta</string>
					<key>CodecID</key>
					<integer>283904135</integer>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfASGHHFAhhx2QIYce
					oCGHH5AhlxxgIZcdkCGXHoEhlx8CIacccCGn
					HTAhpx6BIacfASG3HIAhtx1AIbceISG3HwIh
					5xyQIecdYCHnHkUh5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>99</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC888 3 ports (Pink, Green, Blue)</string>
					<key>CodecID</key>
					<integer>283904136</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHFABhx2QAYce
					oAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGn
					HTABpx6BAacfAQG3HIABtx1AAbceIQG3HwEB
					5xyQAecd4AHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC888 5/6 ports (Gray, Black, Orange, Pink, Green, Blue)</string>
					<key>CodecID</key>
					<integer>283904136</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3
					HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6B
					AacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecd
					YAHnHkUB5x8B
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904137</integer>
					<key>Comment</key>
					<string>ALC889, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxwwIWcdYCFnHgEhZx8BIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904137</integer>
					<key>Comment</key>
					<string>alc889, Custom by Sergey_Galan</string>
					<key>ConfigData</key>
					<data>
					IRcc8CEXHQAhFx4AIRcfQCEnHPAhJx0AISce
					ACEnH0AhRxwwIUcdQSFHHhEhRx8BIVcc8CFX
					HQAhVx4AIVcfQCFnHPAhZx0AIWceACFnH0Ah
					dxzwIXcdACF3HgAhdx9AIYccECGHHZEhhx6g
					IYcfkCGXHCAhlx2QIZcegSGXHwEhpxzwIacd
					ACGnHgAhpx9AIbccgCG3HUAhtx4hIbcfASHH
					HPAhxx0AIcceACHHH0Ah1xzwIdcdACHXHgAh
					1x9AIecckCHnHSEh5x5LIecfASH3HPAh9x0A
					IfceACH3H0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxwgIVcd
					ECFXHgEhVx8BIWccMCFnHWAhZx4BIWcfASF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdkCGHHqAh
					hx+QIZccYCGXHZAhlx6BIZcfAiGnHFAhpx0w
					IacegSGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxzwIVcd
					ACFXHgAhVx9AIWcc8CFnHQAhZx4AIWcfQCF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdYCGHHgEh
					hx8BIZccYCGXHZAhlx6gIZcfkCGnHFAhpx0Q
					IaceASGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904146</integer>
					<key>Comment</key>
					<string>ALC892, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904153</integer>
					<key>Comment</key>
					<string>ALC898, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxwgIVcd
					ECFXHgEhVx8BIWccMCFnHWAhZx4BIWcfASF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdkCGHHqAh
					hx+QIZccYCGXHZAhlx6BIZcfAiGnHFAhpx0w
					IacegSGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904153</integer>
					<key>Comment</key>
					<string>ALC898, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFHDAIhVxzwIVcd
					ACFXHgAhVx9AIWcc8CFnHQAhZx4AIWcfQCF3
					HPAhdx0AIXceACF3H0AhhxxAIYcdYCGHHgEh
					hx8BIZccYCGXHZAhlx6gIZcfkCGnHFAhpx0Q
					IaceASGnHwEhtxxwIbcdQCG3HiEhtx8CIbcM
					AiHnHJAh5x1hIeceSyHnHwEh9xzwIfcdACH3
					HgAh9x9AIRcc8CEXHQAhFx4AIRcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904153</integer>
					<key>Comment</key>
					<string>ALC898, Toleda</string>
					<key>ConfigData</key>
					<data>
					IUccECFHHUAhRx4RIUcfkCFXHCAhVx0QIVce
					ASFXHwEhZxzwIWcdACFnHgAhZx9AIXcc8CF3
					HQAhdx4AIXcfQCGHHEAhhx2QIYceoCGHH5Ah
					lxxgIZcdkCGXHoEhlx8CIaccUCGnHTAhpx6B
					IacfASG3HHAhtx1AIbceISG3HwIh5xyQIecd
					YSHnHksh5x8BIfcc8CH3HQAh9x4AIfcfQCEX
					HPAhFx0AIRceACEXH0A=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904256</integer>
					<key>Comment</key>
					<string>ALC1150, Toleda</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAFHDAIBVxwgAVcd
					EAFXHgEBVx8BAWccMAFnHWABZx4BAWcfAQF3
					HPABdx0AAXceAAF3H0ABhxxAAYcdkAGHHqAB
					hx+QAZccYAGXHZABlx6BAZcfAgGnHFABpx0w
					AacegQGnHwEBtxxwAbcdQAG3HiEBtx8CAbcM
					AgHnHJAB5x1hAeceSwHnHwEB9xzwAfcdAAH3
					HgAB9x9AARcc8AEXHQABFx4AARcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904256</integer>
					<key>Comment</key>
					<string>ALC1150, Toleda</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfkAFHDAIBVxzwAVcd
					AAFXHgABVx9AAWcc8AFnHQABZx4AAWcfQAF3
					HPABdx0AAXceAAF3H0ABhxxAAYcdYAGHHgEB
					hx8BAZccYAGXHZABlx6gAZcfkAGnHFABpx0Q
					AaceAQGnHwEBtxxwAbcdQAG3HiEBtx8CAbcM
					AgHnHJAB5x1hAeceSwHnHwEB9xzwAfcdAAH3
					HgAB9x9AARcc8AEXHQABFx4AARcfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC1150</string>
					<key>CodecID</key>
					<integer>283904256</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQGHHFABhx2QAYce
					oAGHH5ABlxxgAZcdkAGXHoEBlx8CAacccAGn
					HTABpx6BAacfAQG3HIABtx1AAbceIQG3HwEB
					5xyQAecd4AHnHkUB5x8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC1150</string>
					<key>CodecID</key>
					<integer>283904256</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHUABRx4RAUcfAQFXHCABVx0QAVce
					AQFXHwEBZxwwAWcdYAFnHgEBZx8BAXccQAF3
					HSABdx4BAXcfAQGHHFABhx2QAYceoAGHH5AB
					lxxgAZcdkAGXHoEBlx8CAacccAGnHTABpx6B
					AacfAQG3HIABtx1AAbceIQG3HwIB5xyQAecd
					YAHnHkUB5x8BAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Conexant CX20590</string>
					<key>CodecID</key>
					<integer>351359086</integer>
					<key>ConfigData</key>
					<data>
					AZccQAGXHRABlx4hAZcfAAGnHDABpx0QAace
					gQGnHwABtxwgAbcdAAG3HqcBtx+QAfccEAH3
					HQAB9x4XAfcfkQ==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AQAAAA==
					</data>
					<key>CodecID</key>
					<integer>351359086</integer>
					<key>Comment</key>
					<string>CX20590 Custom for Lenovo Yoga 13 by usr-sse2</string>
					<key>ConfigData</key>
					<data>
					AZccMAGXHUABlx4rAZcfDgH3HCAB9x0BAfce
					EAH3H5ACNxwQAjcdAQI3HqACNx+QAaccQAGn
					HRABpx6BAacfAQG3HPABtx0AAbceAAG3H0AB
					xxzwAccdAAHHHgABxx9AAdcc8AHXHQAB1x4A
					AdcfQAHnHPAB5x0AAeceAAHnH0ACBxzwAgcd
					AAIHHgACBx9AAicc8AInHQACJx4AAicfQA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Mirone - VIA VT1802</string>
					<key>CodecID</key>
					<integer>285639750</integer>
					<key>ConfigData</key>
					<data>AkccEAJHHQACRx4TAkcfkAJXHCACVx1AAlceIQJXHwEClxxAApcdAAKXHqAClx+QArccYAK3HZACtx6BArcfAgLXHHAC1x0QAtceRALXHwACRwwCAlcMAw==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Mirone - VIA VT2021</string>
					<key>CodecID</key>
					<integer>285606977</integer>
					<key>ConfigData</key>
					<data>IkccECJHHUAiRx4BIkcfASKHHCAihx1AIoceISKHHwEilxwwIpcdkCKXHqEilx8CIqccQCKnHTAipx6BIqcfASK3HFAitx2QIrcegSK3HwEi5xxgIucdECLnHkUi5x8A</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Mirone - VIA VT2021</string>
					<key>CodecID</key>
					<integer>285606977</integer>
					<key>ConfigData</key>
					<data>IkccECJHHUAiRx4RIkcfASJXHCAiVx0QIlceASJXHwEiZxwwImcdYCJnHgEiZx8BInccQCJ3HSAidx4BIncfASKHHFAihx1AIoceISKHHwEilxxgIpcdkCKXHqEilx8CIqcccCKnHTAipx6BIqcfASK3HIAitx2QIrcegSK3HwEi5xygIucdECLnHkUi5x8A</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
